@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@font-face {
  font-family: 'Pinkfong Baby Shark';
  font-weight: 700;
  src: url('assets/fonts/PinkfongBabySharkFont_Bold.woff2') format('woff2'),
    url('assets/fonts/PinkfongBabySharkFont_Bold.woff') format('woff'),
    url('assets/fonts/PinkfongBabySharkFont_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Pinkfong Baby Shark';
  font-weight: 400;
  src: url('assets/fonts/PinkfongBabySharkFont_Regular.woff2') format('woff2'),
    url('assets/fonts/PinkfongBabySharkFont_Regular.woff') format('woff'),
    url('assets/fonts/PinkfongBabySharkFont_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pinkfong Baby Shark';
  font-weight: 300;
  src: url('assets/fonts/PinkfongBabySharkFont_Light.woff2') format('woff2'),
    url('assets/fonts/PinkfongBabySharkFont_Light.woff') format('woff'),
    url('assets/fonts/PinkfongBabySharkFont_Light.ttf') format('truetype');
}

@theme {
  /* 색상 초기화 */
  --color-*: initial;

  --color-surface-brand: #2663EB;
  --color-text-brand: #2663EB;

  --color-white: #FFFFFF;
  --color-black: #000000;

  /* 기본 색상 */
  --color-surface-default: #F8F9FA;
  --color-surface-weak: #FCFDFD;
  --color-surface-strong: #F4F5F7;
  --color-border-default: #E4E9F1;
  --color-text-primary: #1F2937;
  --color-text-secondary: #64758B;
  --color-text-weak: #FCFDFD;

  /* 위험, 경고 색상 */
  --color-surface-danger: #FEF3F3;
  --color-border-danger: #FFCACA;
  --color-text-danger: #FF3B30;

  /* 긍정, 성공 색상 */
  --color-border-positive: #B9F8CF;
  --color-surface-positive: #F1FDF4;
  --color-text-positive: #14AE5C;

  /* 강조, 보상 색상 */
  --color-border-accent: #FBBF24;
  --color-surface-accent: #FEF3C7;
  --color-text-accent: #FBBF24;

  /* 폰트 */
  --font-pinkfong: 'Pinkfong Baby Shark';
  --font-pretendard: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --text-12: 0.75rem;
  --text-12--line-height: 1rem;

  --text-16: 1rem;
  --text-16--line-height: 1.5rem;

  --text-20: 1.25rem;
  --text-20--line-height: 2rem;

  --text-24: 1.5rem;
  --text-24--line-height: 2rem;

  --text-36: 2.25rem;
  --text-36--line-height: 3rem;

  /* 그림자 */
  --shadow-*: initial;
  --shadow-default: 0px 0px 10px rgba(20, 20, 43, 0.08);

  --animate-fade-in-up: fade-in-up 0.5s ease-out;

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

}

@layer utilities {
  .scrollbar-custom {
    &::-webkit-scrollbar {
      @apply w-2
    }

    &::-webkit-scrollbar-track {
      @apply bg-transparent
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-surface-brand/10 rounded-sm;
    }
  }
}

body {
  @apply bg-surface-default font-pretendard text-16 text-text-primary;
}