/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Pinkfong Baby Shark';
  font-weight: 700;
  src: url('fonts/PinkfongBabySharkFont_Bold.woff2') format('font-woff2'),
    url('fonts/PinkfongBabySharkFont_Bold.woff') format('font-woff'),
    url('fonts/PinkfongBabySharkFont_Bold.ttf') format('font-truetype');
}

@font-face {
  font-family: 'Pinkfong Baby Shark';
  font-weight: 400;
  src: url('fonts/PinkfongBabySharkFont_Regular.woff2') format('font-woff2'),
    url('fonts/PinkfongBabySharkFont_Regular.woff') format('font-woff'),
    url('fonts/PinkfongBabySharkFont_Regular.ttf') format('font-truetype');
}

@font-face {
  font-family: 'Pinkfong Baby Shark';
  font-weight: 300;
  src: url('fonts/PinkfongBabySharkFont_Light.woff2') format('font-woff2'),
    url('fonts/PinkfongBabySharkFont_Light.woff') format('font-woff'),
    url('fonts/PinkfongBabySharkFont_Light.ttf') format('font-truetype');
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

:root {
  /* 브랜드 색상 */
  --color-brand-surface-default: #2663EB;
  --color-brand-text-default: #FCFDFD;
  --color-brand-text-bold: #2663EB;

  /* 위험, 경고 색상 */
  --color-danger-border-default: #FFCACA;
  --color-danger-surface-default: #FEF3F3;
  --color-danger-text-default: #FF3B30;

  /* 긍정, 성공 색상 */
  --color-positive-border-default: #B9F8CF;
  --color-positive-surface-default: #F1FDF4;
  --color-positive-text-default: #14AE5C;

  /* 중립 색상 */
  --color-neutral-border-default: #E4E9F1;
  --color-neutral-surface-bold: #F8F9FA;
  --color-neutral-surface-default: #FCFDFD;
  --color-neutral-surface-weak: #FFFFFF;
  --color-neutral-text-default: #1F2937;
  --color-neutral-text-weak: #64758B;

  /* 기본 폰트 */
  --font-family-pretendard: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --font-default-medium20: 500 20px/32px var(--font-family-pretendard);
  --font-default-medium16: 500 16px/24px var(--font-family-pretendard);
  --font-default-medium12: 500 12px/16px var(--font-family-pretendard);
  --font-default-bold20: 700 20px/32px var(--font-family-pretendard);
  --font-default-bold16: 700 16px/24px var(--font-family-pretendard);
  --font-default-bold12: 700 12px/16px var(--font-family-pretendard);


  /* 제목 폰트 */
  --font-family-pinkfong: "Pinkfong Baby Shark";
  --font-title-light36: 300 36px/48px var(--font-family-pinkfong);
  --font-title-regular24: 400 24px/32px var(--font-family-pinkfong);
  --font-title-regular36: 400 36px/48px var(--font-family-pinkfong);
  --font-title-bold50: 700 52px/54px var(--font-family-pinkfong);
}

* {
  box-sizing: border-box;
  color: var(--color-neutral-text-default);
  font: var(--font-default-medium16);
}